/* HEADER */
body {
    background-color: #282828;
}

header {
    width: 100%;
    height: 100px;

    padding-left: 50px;
    padding-right: 60px;

    background-color: black;
}

header div {
    width: 100%;
}

h1 {
    font-family: "Bungee Spice", sans-serif;
}

.hidden-points {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 6px;

    border-radius: 8px;
    border: 1px solid white;

    

    font-family: 'Protest Strike', sans-serif;
    color: white;
}

.hidden-points div:first-child {
    margin-right: 5px;
}

/* FORM */

header form {
    width: 500px;
}

form select {
    width: 150px;
    height: 40px;

    margin-left: 10px;
    font-family: 'Protest Strike', sans-serif;
    font-size: 1.1em;

    background-color: #CA0E00;
    color:white;
    border-radius: 10px;
}

header input {
    padding: 5px;

    margin-left: 10px;
    padding: 6px 20px;

    font-family: "Bungee Spice", sans-serif;
    font-size: 1.5em;

    border: 1px solid #CA0E00;

    background-color: black;
    
}


/* Starting Main */

main {
    height: calc(100vh -100px);
    overflow-x: auto;

    margin-top: 30px;
    margin-bottom: 30px;
}

.container-10 {
    width: 1000px;
}

.container-9 {
    width: 900px;

}

.container-7 {
    width: 700px;


}
    
.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    font-family: 'Protest Strike', sans-serif;
    font-size: 1.3em;
    font-weight: bold;

    background-color: none;
    color: white;
    border: 2px solid #CA0E00;

    /* non seleziona più il testo se clicco */
    user-select: none;

}

/* CLASSES ACTIVED WITH JS */

.active {
    background-color:green;
}

.bomb  {
    color: black;

    background-color: #ca0d00a8;
    background-image: url("../img/klipartz.com.png");
    background-size: contain;
    
}

.d-none {
    display: none;
}

.no-more-click {
    pointer-events: none;
}

.hidden-lost {
    margin-top: 20px;

    text-align: center;
    font-size: 2em;
    font-family: 'Protest Strike', sans-serif;
    color: white;
    
}

